@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotasModel
@{
}

<h1>Esta es de detalles mascotas</h1>

<div>
Id mascotas:@Model.mascota.Id
</div>

<div>
Id mascotas:@Model.mascota.Nombre
</div>

<div>
Id mascotas:@Model.mascota.Color
</div>

<div>
Id mascotas:@Model.mascota.Especie
</div>

<div>
Id mascotas:@Model.mascota.Raza
</div>


<a asp-page="./ListaMascotas" class="btn-default">lista de mascotas</a>